@inherits InventoryAwareComponentBase
@if (string.IsNullOrWhiteSpace(_errorMessage) == false)
{
    @_errorMessage
    return;
}
<div>
    @GetStatus
</div>

<PopupViewport
    @bind-Visible="_showDiscard"   
    TapToClose="true"
    ShowHeaders="false"
>
    <DiscardComponent ItemName="@_item"
        OnDiscard="DiscardInventoryItem"
        OnCancel="CancelDiscard"
        />
</PopupViewport>

<div class="inv-root">
   
    <!-- Scroll ONLY this section -->
    <div class="inv-scroll">
        <!-- 3 rows per column, then new column -->


        <GridContainer ColumnGap="5px" RowGap="5px" Columns="1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr">
            @foreach (var item in _list)
            {
                <div class="inv-item" @key="item.Item" @onclick="() => DisplayInventoryItem(item.Item)">
                    @if (_showDiscard == false)
                    {
                        <button class="icon-btn inv-discard"
                                type="button"
                                title="Discard"
                                aria-label="Discard"
                                @onclick="(e) => OpenDiscard(item.Item)"
                                @onclick:stopPropagation="true">
                            <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                <path d="M9 3h6l1 2h4v2H4V5h4l1-2z" fill="currentColor" />
                                <path d="M6 7h12l-1 14H7L6 7z" fill="currentColor" />
                                <path d="M10 11v7M14 11v7"
                                      stroke="currentColor"
                                      stroke-width="2"
                                      stroke-linecap="round"
                                      fill="none" />
                            </svg>

                        </button>
                    }
                    

                    <img class="inv-img"
                         src="@GetItemImageSrc(item.Item)"
                         alt="@item.Item"
                         draggable="false" />

                    <!-- bottom-right amount -->
                    <div class="inv-amount">
                        <span class="inv-x">x</span>
                        <span>@item.Amount</span>
                    </div>
                </div>
            }
        </GridContainer>
    </div>
</div>
